# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/*
*.iml
*.ipr
*.iws
tmp
!.idea/copyright/


# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
src/main/resources/web/js/
src/main/resources/web/css/
src/main/resources/web/index.html
src/main/resources/web/favicon.ico
src/main/resources/web/assets/index*

